// colors
$blue: #050621;
$lightblue: #101E36;

body, html {
    padding: 0;
    margin: 0;
    background: $blue;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#app {
    display: flex;
    height: 100vh;
    width: 100vw;
}

// typography
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-weight: 200;
    font-size: 43px;
    color: #FFFFFF;
    letter-spacing: 2.68px;
}


// row
.row {
    padding: 0 80px;
    &:first-of-type {
        padding-top: 54px;
    }
    h1 { padding-bottom: 20px; }
}


// sidebar        
.sidebar {
    border-right: 1px solid $lightblue;
    width: 93px;
    .title {
        display: inline-block;
        transform: rotate(90deg);
        font-family: 'Lato-Bold';
        font-size: 22px;
        color: #FFFFFF;
        letter-spacing: 1.37px;
        width: 120px;
        height: 92px;
    }
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    button {
        height: 92px;
        width: 92px;
        display: inline-block;
        background: $blue;
        outline: none;
        border: none;
        border-bottom: 1px solid $lightblue;
        transition: background 0.2s ease-in-out;
        &:hover {
            background: $lightblue;
        }

        &.waterkering {
            height: 276px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

// main
.main {
    width: calc(100% - 93px);
}

// chartjs
.waterkering-canvas {
    position: relative;
    div {
        position: absolute;
        top: 0;
        left: 80px;
        color: white;
        transform: translateY(-50%);
        font-family: 'lato';
        font-weight: 200;
        font-size: 16px;
        color: white;
        letter-spacing: 1.12px;

        &:nth-of-type(2) { top: calc(17.5%); }
        &:nth-of-type(3) { top: calc(17.5% * 2); }
        &:nth-of-type(4) { top: calc(17.5% * 3); }
        &:nth-of-type(5) { top: calc(17.5% * 4); }
    }
}

canvas {
    position: relative;
    // padding: 30px 20px;
}

// transition
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.6s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

// status 
.status {
    span {
        transition: color 1s ease-in-out;
    }
}