<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waterkering</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/app.css' %}" />
</head>
<body>
    <div id="app">
        <div id="sidebar" class="sidebar">
            <ul>
                <li><button class="waterkering" @click="changeView('waterstand')"><img src="{% static 'build/images/waterkering.svg' %}"></button></li>
                <li><button class="waterstand" @click="changeView('waterstand')"><img src="{% static 'build/images/waterstand.svg' %}"></button></li>
                <li><button class="meldingen" @click="changeView('meldingen')"><img src="{% static 'build/images/meldingen.svg' %}"></button></li>
                <li><button class="berichten" @click="changeView('berichten')"><img src="{% static 'build/images/berichten.svg' %}"></button></li>
                <li><button class="instellingen" @click="changeView('instellingen')"><img src="{% static 'build/images/instellingen.svg' %}"></button></li>
            </ul>
        </div>
        <div id="main" class="main">
            <transition name="fade">
                <div v-if="view == 'waterstand'" key="waterstand">
                    <canvas id="waterkering" width="1440" height="560"></canvas>
                </div>
                <div v-else-if="view == 'medlingen'" key="meldingen">
                    meldingen
                </div>
                <div v-else-if="view == 'berichten'" key="berichten">
                    berichten
                </div>
                <div v-else-if="view == 'instellingen'" key="instellingen">
                    instellingen
                </div>
            </transition>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="{% static 'build/js/app.js' %}"></script>
</body>
</html>