<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waterkering</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/app.css' %}" />
</head>
<body>
    <div id="app">
        <div id="sidebar" class="sidebar">
            <ul>
                <li><button class="waterkering" @click="changeView('waterstand')"><img src="{% static 'build/images/waterkering.svg' %}"></button></li>
                <li><button class="waterstand" @click="changeView('waterstand')"><img src="{% static 'build/images/waterstand.svg' %}"></button></li>
                <li><button class="meldingen" @click="changeView('meldingen')"><img src="{% static 'build/images/meldingen.svg' %}"></button></li>
                <li><button class="berichten" @click="changeView('berichten')"><img src="{% static 'build/images/berichten.svg' %}"></button></li>
                <li><button class="instellingen" @click="changeView('instellingen')"><img src="{% static 'build/images/instellingen.svg' %}"></button></li>
            </ul>
        </div>
        <div id="main" class="main">
            <transition-group name="fade">
                <div v-show="view == 'waterstand'" key="waterstand">
                    <div class="row">
                        <h1>Waterniveau <span style="opacity: 0.15;">|</span> <span>[[ animatedWaterstand ]] cm</span> <span style="opacity: 0.15;">|</span> <span class="status"><span :style="{ color: status[1] }">&bull;</span> [[ status[0] ]]</span></h1>
                    </div>
                    <div class="waterkering-canvas">
                    <canvas id="waterkering" width="1440" height="561"></canvas>
                    <div>Kritiek</div>
                    <div>Te hoog</div>
                    <div>Hoog</div>
                    <div>Normaal</div>
                    <div>Laag</div>
                    </div>
                </div>
                <div v-show="view == 'meldingen'" key="meldingen">
                    <div class="row">
                        <h1>Meldingen</h1>
                    </div>
                </div>
                <div v-show="view == 'berichten'" key="berichten">
                    <div class="row">
                        <h1>Berichten</h1>
                    </div>
                </div>
                <div v-show="view == 'instellingen'" key="instellingen">
                    <div class="row">
                        <h1>Instellingen</h1>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script src="https://unpkg.com/tween.js@16.3.4"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="{% static 'build/js/app.js' %}"></script>
</body>
</html>